@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #app {
    @apply font-sans relative w-full min-h-screen antialiased;
    font-size: 14px;
  }
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-gray-100/20;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-100/40;
  }
  @screen sm {
    html, body, #app {
      font-size: 12px;
    }
  }
  @screen lg {
    html, body, #app {
      font-size: 14px;
    }
  }
}
body {
  background-image: url('/imgs/back.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
